# Ignore Streamlit secrets (Crucial for security)
.streamlit/

# Ignore Mac/Windows system files
.DS_Store
Thumbs.db

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.venv/
venv/
env/